{% extends "base.html" %}

{% block content %}
<div class="container" style="width: 100%;display: flex;flex-direction: row; justify-content: center; margin-bottom: 10px;">
    <div style="width: 100px;">
        <h4>{{nposts}}</h4> 
        <p style="font-size: larger;">Posts</p>   
    </div>
    

    <a href="{{ url_for("follower",user_id=user_id) }}" style="text-decoration: none;">
        <div style="width: 100px;">
            <h4>{{nfollowers}}</h4>
            <p style="font-size: larger;">Followers</p>
        </div>
    </a>
    
    <a href="{{ url_for("followed",user_id=user_id) }}" style="text-decoration: none;">
        <div style="width: 100px;">
            <h4>{{nfollowed}}</h4>
            <p style="font-size: larger;">Following</p>
        </div>
    </a>


</div>
<div class="container">
    <div class="row g-3">
        {% if Post == 0  %}
          <p style="font-size: larger;">No post to show</p>
        {% else %}
            {% for p in Post %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                    <img class="card-img-top" src="../static/post_pics/{{p.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">{{p.caption}}</p>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}