{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Update profile</h3>
    <div class="box">
        <form method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="{{user.email}}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="{{user.name}}" autofocus="">
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="{{user.username}}" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Update</button>
        </form>
    </div>
</div>
{% endblock %}